@charset  "UTF-8";
.text::after{
    content: "必須";
    background-color: red;
    color: aliceblue;
    font-size: 10px;
    font-weight: bold;
    min-width: 10px;
    padding: 3px 7px;
    margin: 0px 5px;
    line-height: 1;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
}
th{
    background-color: chocolate;
    vertical-align: top;

}
td{
    background-color: blanchedalmond;
    padding: 7px;
}
span{
    font-size: 0.5rem;
}
textarea{

}
